docs/n8n/notary402-legal-signature-flow.json
{
  "name": "notary402-legal-signature-flow",
  "nodes": [
    {
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "notary402/legal-signature",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      }
    },
    {
      "name": "Create Legal Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [260, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARY402_API_BASE_URL || 'http://localhost:3001'}}/v1/legal-intent",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"agent_id\":$json.agent_id,\"jurisdiction\":\"SV\",\"input\":$json.legal_intent || $json.legal_text,\"document_type\":$json.document_type,\"parties\":$json.parties || [],\"obligations\":$json.obligations || [],\"risk_flags\":$json.risk_flags || []}"
      }
    },
    {
      "name": "Create Signature Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.APERTURE_BASE_URL || 'http://localhost:8080'}}/v1/signature/request",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"agent_id\":$('Webhook Trigger').item.json.agent_id,\"jurisdiction\":\"SV\",\"document_hash\":$('Webhook Trigger').item.json.document_hash,\"legal_intent_id\":$json.legal_intent_id,\"requested_signature_level\":$('Webhook Trigger').item.json.requested_signature_level || 1}"
      }
    },
    {
      "name": "Verify Wallet Proof",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARY402_API_BASE_URL || 'http://localhost:3001'}}/v1/wallets/verify-signature",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"agent_id\":$('Webhook Trigger').item.json.agent_id,\"chain_id\":80002,\"wallet_address\":$('Webhook Trigger').item.json.wallet_address,\"message\":\"Notary402 request \" + $json.request_hash,\"signature\":$('Webhook Trigger').item.json.wallet_signature}"
      }
    },
    {
      "name": "Register L402 Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARY402_API_BASE_URL || 'http://localhost:3001'}}/v1/payments/l402/verify",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"signature_request_id\":$('Create Signature Request').item.json.signature_request_id,\"receipt\":$('Webhook Trigger').item.json.l402_receipt,\"request_hash\":$('Create Signature Request').item.json.request_hash}"
      }
    },
    {
      "name": "Run Legal Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARY402_API_BASE_URL || 'http://localhost:3001'}}/v1/signature/validate",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"signature_request_id\":$('Create Signature Request').item.json.signature_request_id,\"jurisdiction\":\"SV\",\"legal_text\":$('Webhook Trigger').item.json.legal_text}"
      }
    },
    {
      "name": "Branch Legal Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{$json.requires_human_notary}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Escalate via Zavu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1820, -120],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARY402_API_BASE_URL || 'http://localhost:3001'}}/v1/zavu/escalate",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"signature_request_id\":$('Create Signature Request').item.json.signature_request_id,\"jurisdiction\":\"SV\",\"reason\":\"Legal analysis requires human notary: \" + $json.summary}"
      }
    },
    {
      "name": "Issue Attestation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1820, 120],
      "parameters": {
        "method": "POST",
        "url": "={{$env.APERTURE_BASE_URL || 'http://localhost:8080'}}/v1/attestations",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"signature_request_id\":$('Create Signature Request').item.json.signature_request_id,\"wallet_proof_id\":$('Verify Wallet Proof').item.json.wallet_proof_id,\"payment_proof_id\":$('Register L402 Receipt').item.json.payment_proof_id,\"agent_wallet\":$('Webhook Trigger').item.json.wallet_address,\"amoy_tx_hash\":$('Webhook Trigger').item.json.amoy_tx_hash}"
      }
    },
    {
      "name": "DataMCP Audit Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2080, 0],
      "parameters": {
        "content": "Attach the DataMCP MCP link as a read-only audit database tool. After each run, use get_schema/query against signature_requests, wallet_proofs, payment_proofs, legal_analyses and attestations. Notary402 remains the write authority."
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Create Legal Intent", "type": "main", "index": 0 }]]
    },
    "Create Legal Intent": {
      "main": [[{ "node": "Create Signature Request", "type": "main", "index": 0 }]]
    },
    "Create Signature Request": {
      "main": [[{ "node": "Verify Wallet Proof", "type": "main", "index": 0 }]]
    },
    "Verify Wallet Proof": {
      "main": [[{ "node": "Register L402 Receipt", "type": "main", "index": 0 }]]
    },
    "Register L402 Receipt": {
      "main": [[{ "node": "Run Legal Analysis", "type": "main", "index": 0 }]]
    },
    "Run Legal Analysis": {
      "main": [[{ "node": "Branch Legal Risk", "type": "main", "index": 0 }]]
    },
    "Branch Legal Risk": {
      "main": [
        [{ "node": "Escalate via Zavu", "type": "main", "index": 0 }],
        [{ "node": "Issue Attestation", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "notary402-live-real-v1"
}
